@import url('style/home.css');
@import url('style/userinfo.css');

:root{
    --default-bg-color : #C8A1E0;
    --default-bg-color2 : #fef9fe;
    --default-btn-color: #FFE9FF;
    --header-bg-color : #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #C8A1E0;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: white;
    border-radius: 19px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(0.97);
}

button:active {
    transform: scale(0.97);
}

.header {
    background-color: var(--default-bg-color);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header button {
    line-height: 45px;
    background-color: white;
    margin-left: 20px;
    width: 200px;
    height: 60px;
    border-radius: 30px;

    background: linear-gradient(to bottom,  var(--default-bg-color2) 50%, var(--default-bg-color) 100%);
}

.App {
    background: linear-gradient(to bottom, var(--default-bg-color) 10%,var(--default-bg-color2) 30%, var(--default-bg-color2) 80%, var(--default-bg-color) 100%);
    width: 100%;
    height: 100%;
}